html, body{
  background-color: #efefef;
}

body{
  margin: 0;
  font-size: 100%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header{
  display:block;
  margin: 0 auto 0.5em auto;
  background-color: #284a69;
  border-bottom: 2px solid #ccc;
  background-image:-webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.11, rgb(40,82,122)),
      color-stop(0.5, rgb(40,74,105))
  );
  background-image:-moz-linear-gradient(
      center bottom,
      rgb(40,82,122) 11%,
      rgb(40,74,105) 50%
  );
}

header h1{
  display: inline;
  margin: 0 0.2em;
  font-size: 1.8em;
}

header span{
  color: #fff;
  font-style: italic;
  font-size: 0.8em;
  text-shadow: -1px -1px 1px #222;
}

header h1 a{
  color: #fff;
  text-decoration: none;
  text-shadow: -1px -1px 1px #222;
}

#sketchpad #canvas{
  float:left;
  border: 1px solid #DDD;
  display: inline-block;
  cursor: crosshair;
  background-color: #fff;
}

#sketchpad #toolbar{
  float: left;
  margin-right: 5px;
}

#sketchpad #toolbar .tool{
  width:  40px;
  height: 40px;
  border: 1px solid #DDD;
  margin-bottom: 5px;
  font-size: 1.5em;
  text-align: center;
  background-color: #fff;
}

#sketchpad #toolbar .tool:hover{
  background-color: #eee;
}

#sketchpad #toolbar .tool.current{
  background-color: #eee;
}

#scoreboard{
  float: left;
  border: 1px solid #DDD;
  height: 403px;
  width: 200px;
}

#scoreboard header{
  height: 30px;
  background: none;
  margin: 0;
  border: 0;
}

#scoreboard #players .player{
  height: 30px;
  background-color: #fff;
}
