html, body{
  background-color: #efefef;
}

body{
  margin: 0;
  font-size: 100%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
}

header{
  display:block;
  margin: 0 auto 0.5em auto;
  background-color: #284a69;
  border-bottom: 2px solid #ccc;
  background-image:-webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.11, rgb(40,82,122)),
      color-stop(0.5, rgb(40,74,105))
  );
  background-image:-moz-linear-gradient(
      center bottom,
      rgb(40,82,122) 11%,
      rgb(40,74,105) 50%
  );
}

header h1{
  display: inline;
  margin: 0 0.2em;
  font-size: 1.8em;
}

header span{
  color: #fff;
  font-style: italic;
  font-size: 0.8em;
  text-shadow: -1px -1px 1px #222;
}

header h1 a{
  color: #fff;
  text-decoration: none;
  text-shadow: -1px -1px 1px #222;
}

#container{
  width: 960px;
  margin: 0 auto;
}

#sketchpad #canvas{
  float:left;
  border: 1px solid #DDD;
  display: inline-block;
  cursor: crosshair;
  background-color: #fff;
}

#sketchpad #toolbar{
  float: left;
  margin-right: 5px;
}

#sketchpad #toolbar .tool{
  width:  40px;
  height: 40px;
  margin-bottom: 5px;
  font-size: 1.5em;
  text-align: center;
  border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid #bbb;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
  background: -moz-linear-gradient(top, #fff, #ddd);
}

#sketchpad #toolbar .tool:hover{
  background-color: #eee;
  cursor: pointer;
}

#sketchpad #toolbar .tool.current{
  background-color: #eee;
  background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#ddd));
  background: -moz-linear-gradient(top, #ddd, #ddd);
}

#sketchpad #toolbar .tool.disabled:hover,
#sketchpad #toolbar .tool.disabled{
  background-color: #fff;
}

#scoreboard{
  float: left;
  border: 1px solid #DDD;
  height: 250px;
  width: 300px;
  margin-left: 5px;
}

#scoreboard header{
  height: 30px;
  background: none;
  margin: 0;
  border: 0;
}

#scoreboard #players .player{
  height: 25px;
  background-color: #fff;
}

#guesses{
  margin-left: 5px;
  float:left;
  height: 150px;
  width: 300px;
  border: 1px solid #DDD;
  overflow: auto;
}

#submission{
  margin-left: 47px;
  clear:both;
  font-size: 1.2em;
}

#submission #guess{
  width: 300px;
  padding: 2px 5px;
}

input{
  font-size: 0.8em;
  border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid #bbb;
  color: #4F4F4F;
  text-shadow: 1px 1px 1px #fff;
}

input[type='submit']{
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
  background: -moz-linear-gradient(top, #fff, #ddd);
}

input[type='submit']:hover{
  cursor: pointer;
}

input[type='submit']:active{
  background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#ddd));
  background: -moz-linear-gradient(top, #ddd, #ddd);
}
