<div id="sketchpad">
  <div id="toolbar">
    <div class="tool freehand" onclick="Sketchpad.useTool('freehand');">&#9998;</div>
    <div class="tool line" onclick="Sketchpad.useTool('line');">&#9585;</div>
    <div class="tool rectangle" onclick="Sketchpad.useTool('rectangle');">&#9634;</div>
    <div class="tool ellipse" onclick="Sketchpad.useTool('ellipse');">&#9711;</div>
    <div class="tool undo" onclick="Sketchpad.undo();">U</div>
  </div>
  <div id="canvas"></div>
</div>
<div id="scoreboard">
  <header>Players</header>
  <div id="players">
  </div>
</div>
<div id="guesses">
</div>
<div id="submission">
  <form id="guess_form">
    <label for="guess">Guess:</label>
    <input id="guess" type="text" />
    <input type="submit" value="Go" />
  </form>
</div>
